$font: 'Inter', sans-serif;
$text-color: #ffffff;
$bg-day-mobile: './assets/mobile/bg-image-daytime.jpg';
$bg-night-mobile: './assets/mobile/bg-image-nighttime.jpg';
$bg-day-tablet: './assets/tablet/bg-image-daytime.jpg';
$bg-night-tablet: './assets/tablet/bg-image-nighttime.jpg';
$bg-day-desktop: './assets/desktop/bg-image-daytime.jpg';
$bg-night-desktop: './assets/desktop/bg-image-nighttime.jpg';
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;

body{
    font-family: $font;
    color: $text-color;
    margin: 0;
}
#root{
    background-color: rgb(0,0,0, 0.4);
    height: 100vh;
}
.App{
    margin-left: 26px;
    @media(min-width: $tablet-breakpoint){
        margin-left: 64px;
    }
    @media(min-width: $desktop-breakpoint){
        margin-left: 165px;
    }
}
.dayTime{
    height: 100vh;
    background-image: url($bg-day-mobile);
    background-size: cover;
    background-repeat: no-repeat;
    @media(min-width: $tablet-breakpoint){
        background-image: url($bg-day-tablet);
    }
    @media(min-width: $desktop-breakpoint){
        background-image: url($bg-day-desktop);
    }
    
}
.nightTime{
    height: 100vh;
    background-image: url($bg-night-mobile);
    background-size: cover;
    background-repeat: no-repeat;
    @media(min-width: $tablet-breakpoint){
        background-image: url($bg-night-tablet);
    }
    @media(min-width: $desktop-breakpoint){
        background-image: url($bg-night-desktop);
    }
}
.quoteContainer{
    display: grid;
    grid-template-columns: 90% 10%;
    width: 324px;
    padding-top: 31px;
    @media(min-width: $tablet-breakpoint){
        width: 573px;
        padding-top: 80px;
    }
    @media(min-width: $desktop-breakpoint){
        padding-top: 56px;
    }
}
.quote{
    font-size: 12px;
    font-size: 400;
    grid-row: 1 / 3; 
    line-height: 22px;
    margin: 0;
    @media(min-width: $tablet-breakpoint){
        font-size: 18px;
        line-height: 28px;
    }
}
.refreshButton{
    border: none;
    background: none;
}
.author{
    grid-row: 3;
    font-weight: 700;
    line-height: 22px;
    font-size: 12px;
    @media(min-width: $tablet-breakpoint){
        font-size: 18px;
    }
}
.timeContainer{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 25px auto auto;
    align-content: center;
}
.greeting{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: auto;
    margin-bottom: auto;

}
.time{
    grid-column: 1 / 3;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -2.5px;
    span{
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0;
    }
}

.location{
    grid-column: 1 / 3;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}